<mat-tab-group>
    <mat-tab label="Inscriptions">
        <h4>Tableau inscriptions</h4>
    </mat-tab>
    <mat-tab label="Mensualites"> 
        <h4>Tableau Mensualites</h4>
    </mat-tab>
    <mat-tab label="Depenses"> 
        <h4>Tableau Mensualites</h4>
    </mat-tab>
    <mat-tab label="Entres"> 
        <h4>Tableau Mensualites</h4>
    </mat-tab>
    <mat-tab label="Sorties"> 
        <h4>Tableau Mensualites</h4>
    </mat-tab>
    <mat-tab label="Bilan"> 
        <h4>Tableau Mensualites</h4>
    </mat-tab>
</mat-tab-group>