<mat-card>
    <form [formGroup]="this.eleveFormgroup">
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>nom</mat-label>
                <input matInput type="text" formControlName="nom">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>prenom</mat-label>
                <input matInput type="text" formControlName="prenom">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>date de naissance</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateNaissance" >
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>adresse</mat-label>
                <input matInput type="text" formControlName="adresse">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>prenom du pere</mat-label>
                <input matInput type="text" formControlName="prenomPere">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>prenom et nom de la mere</mat-label>
                <input matInput type="text" formControlName="prenomNomMere">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>à savoir</mat-label>
                <textarea matInput type="text" formControlName="aSavoir"
                placeholder="sur l'élève ...">
                </textarea>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>classe</mat-label>
                <mat-select formControlName="classe">
                    <mat-option *ngFor="let classe of classes"
                    [value]="classe">{{ classe.classeId }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    </form>
    <mat-divider></mat-divider>
    <div>
        
    </div>
    <mat-divider></mat-divider>
    <div>

    </div>
    <mat-divider></mat-divider>
    <mat-card-actions class="buttons">
        <button mat-raised-button *ngIf="!this.modifier" (click)="modifierEleve()">Modifier</button>
        <button mat-raised-button *ngIf="this.modifier" (click)="enregistrer()">Enregistrer</button>
        <button mat-raised-button color="danger" *ngIf="!this.modifier" (click)="supprimerEleve()">Supprimer</button>
        <button mat-raised-button (click)="retour()">retour</button>
    </mat-card-actions>
</mat-card>

<mat-accordion multi>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title><h4>Mensualites</h4></mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="payerMensualite()">Payer</button>
        <div>
            <!-- tableau des mensualites  -->
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title><h4>Inscriptions</h4></mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="reinscrireEleve()">Reinscrire</button>
        <div>
            <!-- tableau des mensualites  -->
        </div>
    </mat-expansion-panel>
</mat-accordion>
