<mat-card>
    <div>
        <mat-label>{{eleve.nom}}</mat-label>
        <mat-label>{{eleve.prenom}} </mat-label>
    </div>
    <div>
        <mat-label>{{eleve.dateNaissance}}</mat-label>
        <mat-label>{{age}} </mat-label>
    </div>
    <div>
        <mat-label>{{eleve.addresse}} </mat-label>
        <mat-label>{{eleve.numeroTelephone}} </mat-label>
    </div>
    <div>
        <mat-label>{{eleve.prenomPere}} </mat-label>
        <mat-label>{{eleve.prenomNomMere}} </mat-label>
    </div>
    <div>
        <mat-label>{{eleve.classe}} </mat-label>
        <mat-label>{{eleve.dateDebut}} </mat-label>
    </div>
    <div>
        <mat-label>{{eleve.aSavoir}} </mat-label>
    </div>
    <mat-divider></mat-divider>
    <div>
        
    </div>
    <mat-divider></mat-divider>
    <div>

    </div>
</mat-card>