<mat-card>
    <div class="row">
        <mat-label class="col">{{ eleve.nom }}</mat-label>
        <mat-label class="col">{{ eleve.prenom }} </mat-label>
    </div>
    <div class="row">
        <mat-label class="col">{{eleve.dateNaissance}}</mat-label>
        <mat-label class="col">{{age}} </mat-label>
    </div>
    <div class="row">
        <mat-label class="col">{{eleve.addresse}} </mat-label>
        <mat-label class="col">{{eleve.numeroTelephone}} </mat-label>
    </div>
    <div class="row">
        <mat-label class="col">{{eleve.prenomPere}} </mat-label>
        <mat-label class="col">{{eleve.prenomNomMere}} </mat-label>
    </div>
    <div class="row">
        <mat-label class="col">{{eleve.classe?.appelation}} </mat-label>
        <mat-label class="col">{{eleve.dateDebut | date : 'short'}} </mat-label>
    </div>
    <div class="row">
        <mat-label class="col">{{eleve.aSavoir}} </mat-label>
    </div>
    
    <mat-divider></mat-divider>
    <div>
        
    </div>
    <mat-divider></mat-divider>
    <div>

    </div>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button (click)="modifierEleve()">modifier</button>
        <button mat-button (click)="payerMensualite()">payer une mensualite</button>
        <button mat-button (click)="reinscrireEleve()">reinscrire</button>
        <button mat-button (click)="supprimerEleve()">supprimer</button>
        <button mat-button (click)="retour()">retour</button>
    </mat-card-actions>
</mat-card>