.full-width {
    width: 100%;
  }
  
  .half-width {
    width: 50%;
  }
   
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }

  @media screen and (max-width: 500px) {
    th {
      padding: 0px !important;
      margin: 0px !important;
    }

  
    .row{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    }
  }
  