<form [formGroup]="calculBilanFormGroup" (ngSubmit)="calculerBilan()">
    <mat-card>
        <mat-card-header>
            <h4>Faire un bilan</h4>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>debut</mat-label>
                        <input matInput [matDatepicker]="debutPicker" formControlName="dateDebut">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="debutPicker"></mat-datepicker-toggle>
                        <mat-datepicker #debutPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>fin</mat-label>
                        <input matInput [matDatepicker]="finPicker" formControlName="dateFin">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
                        <mat-datepicker #finPicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card-actions>
        <button mat-raised-button class="mr-3" color="primary" type="submit">calculer</button>
        <button mat-flat-button (click)="reset()">reset</button>
    </mat-card-actions>
</form>

