<form [formGroup]="ajouterEmployeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ajouter un(e) nouvel(le) emloyé(e)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="prenom" formControlName="prenom">
            <mat-error *ngIf="ajouterEmployeForm.controls['prenom'].hasError('required')">
              Le prenom est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="nom" formControlName="nom">
            <mat-error *ngIf="ajouterEmployeForm.controls['nom'].hasError('required')">
              Le nom est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="adresse" formControlName="adresse" />
            <mat-error *ngIf="ajouterEmployeForm.controls['adresse'].hasError('required')">
              L'adresse est <strong>requise</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="numero de telephone" formControlName="numeroTelephone" />
            <mat-error *ngIf="ajouterEmployeForm.controls['numeroTelephone'].hasError('required')">
              Le numéro de téléphone est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>date de naissance</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="naissancePicker" placeholder="date de naissance" formControlName="dateNaissance" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="naissancePicker"></mat-datepicker-toggle>
            <mat-datepicker #naissancePicker></mat-datepicker>
            <mat-error *ngIf="ajouterEmployeForm.controls['dateNaissance'].hasError('required')">
              La date de naissance est <strong>requise</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="half-width">
            <input type="number" matInput placeholder="salaire" formControlName="salaire" />
            <mat-error *ngIf="ajouterEmployeForm.controls['salaire'].hasError('required')">
              Le salaire est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <!-- <input matInput placeholder="profession" formControlName="profession" /> -->
            <mat-label>profession</mat-label>
            <mat-select formControlName="profession">
              <mat-option *ngFor="let profession of professions" [value]="profession">
                {{ profession.valueOf() }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- <mat-form-field class="full-width"> -->
            <!-- <input matInput placeholder="classe" formControlName="classeGeree" /> -->
            <!-- <mat-label>classe geree</mat-label>
            <mat-select formControlName="classeGeree">
              <mat-option *ngFor="let classe of classes" [value]="classe">
                {{ classe.appellation }}
              </mat-option>
            </mat-select> -->
          <!-- </mat-form-field> -->
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">ajouter employe</button>
      <button mat-raised-button color="" (click)="reset()" >reset</button>
      <button mat-raised-button color="" (click)="retour()">retour</button>
    </mat-card-actions>
  </mat-card>
</form>
