<form [formGroup]="inscriptionFormGroup" (ngSubmit)="this.inscrireEleve()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Inscrire un nouvel eleve</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>nom</mat-label>
                        <input matInput type="text" formControlName="nom">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>prenom</mat-label>
                        <input matInput type="text" formControlName="prenom">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>date de naissance</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>lieu de naissance</mat-label>
                        <input matInput type="text" formControlName="lieuDeNaissance">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>adresse</mat-label>
                        <input matInput type="text" formControlName="adresse">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>numero de telephone</mat-label>
                        <input matInput type="text" formControlName="numeroTelephone">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>prenom du pere</mat-label>
                        <input matInput type="text" formControlName="prenomPere">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>prenom et nom de la mere</mat-label>
                        <input matInput type="text" formControlName="prenomNomMere">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>à savoir</mat-label>
                        <input matInput type="text" formControlName="aSavoir"
                        placeholder="sur l'élève ...">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>annee inscrit</mat-label>
                        <input matInput type="number" formControlName="anneeInscription">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>classe</mat-label>
                        <mat-select formControlName="classe">
                            <mat-option *ngFor="let classe of classes"
                            [value]="classe">{{ classe.id }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="half-width">
                        <mat-label>somme</mat-label>
                        <input matInput type="number" formControlName="somme">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!this.inscriptionFormGroup.valid" type="submit">Inscrire</button>
            <button mat-raised-button (click)="this.reset()" type="reset">Annuler</button>
            <button mat-raised-button (click)="this.retour()" >Retour</button>
        </mat-card-actions>
        
    </mat-card>
</form>

