<form [formGroup]="mensualiteForm" (ngSubmit)="payerMensualite()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Payer une mensualite</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>eleve</mat-label>
                        <mat-select formControlName="eleve">
                            <mat-option *ngFor="let eleve of elevesInscrit" [value]="eleve">
                                {{ eleve.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>somme</mat-label>
                        <input type="number" matInput formControlName="somme">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Month and Year</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="moisAnnee">
                        <mat-hint>MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        startView="multi-year"
                                        (monthSelected)="setMonthAndYear($event, dp)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>date de paiment</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="datePaiement" [disabled]="disabled">
                        <mat-hint>MM/DD/YYYY HH:MM:SS</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>supplement d'argent</mat-label>
                        <input type="number" matInput formControlName="supplementArgent">              
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>other</mat-label>
                        <input type="text" matInput formControlName="others">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">payer mensualite</button>
            <button mat-raised-button color="" (click)="reset()" >reset</button>
            <button mat-raised-button color="" (click)="retour()">reset</button>
          </mat-card-actions>
    </mat-card>
</form>

