<form [formGroup]="inscriptionFormGroup" (ngSubmit)="this.inscrireEleve()">
    <div mat-dialog-title>Reinscrire eleve</div>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="full-width">
                <mat-label>annee inscrit</mat-label>
                <input matInput type="number" formControlName="anneeInscription">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                        <mat-label>classe</mat-label>
                        <mat-select formControlName="classe">
                            <mat-option *ngFor="let classe of classes"
                            [value]="classe">{{ classe.classeId }}</mat-option>
                        </mat-select>
                    </mat-form-field>
        </div>
        <div>
            <mat-form-field class="half-width">
                <mat-label>somme</mat-label>
                <input matInput type="number" formControlName="somme">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button>Enregistrer</button>
        <button mat-raised-button mat-dialog-close>Annuler</button>
    </div>
</form>