<br>

<section>
  <button mat-button (click)="onClickAjouterEmploye()">ajouter nouvel employe</button>
  <button mat-button (click)="onClickPayerEmploye()">payer employe</button>
  <button mat-button (click)="onClickPaiement()">paiements</button>
</section>

<br>

<form>
  <mat-form-field>
    <mat-label>Rechercher un employe</mat-label>
    <input matInput >
  </mat-form-field> 
</form>

<br>

<div class="mat-elevation-z5">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="interneId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.interneId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nom</th>
      <td mat-cell *matCellDef="let row">{{row.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>prenom</th>
      <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>date debut</th>
      <td mat-cell *matCellDef="let row">{{row.dateDebut}}</td>
    </ng-container>

    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>profession</th>
      <td mat-cell *matCellDef="let row">{{row.profession}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [mat-menu-trigger-for]="menu" aria-label="options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
            (click)="onClickPlus(row)">
            <span>plus</span>
          </button>
          <button mat-menu-item
            (click)="onClickModifier(row)">
            <span>modifier</span>
          </button>
          <button mat-menu-item
            (click)="onClickSupprimer(row)">
            <span>supprimer</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
