.sidenav-container {
 height: 100%;
 border: 2px solid green;
}


.sidenav {
  width: 200px;
  border: 2px solid blue;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-header {
  border: 1px solid black;
  align-self: flex-start;
}

.container-principale {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  margin-bottom: 50px;
}

.content-page {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
}
