<br>

<div class="mat-elevation-z5">
  <button mat-button (click)="clickOnInscrire()">Inscrire</button>
  <button mat-button (click)="clickOnMensualite()">Payer mensualite</button>
</div>

<br>

<form>
  <mat-form-field>
    <mat-label>Rechercher un élève</mat-label>
    <input matInput>
  </mat-form-field> 
</form>

<br>

<div class="mat-elevation-z5">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="eleveId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let row">{{row.eleveId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nom</th>
      <td mat-cell *matCellDef="let row">{{row.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>prenom</th>
      <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="dateNaissance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>date de naissance</th>
      <td mat-cell *matCellDef="let row">{{row.dateNaissance | date : 'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>classe</th>
      <td mat-cell *matCellDef="let row">{{row.classe}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
      <td mat-cell *matCellDef="let row">

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
