<br>

<div class="mat-elevation-z5">
  <button mat-button (click)="onClickAjouterDepense()">Ajouter une depense</button>
</div>

<br>

<div class="mat-elevation-z5">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="depenseId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.depenseId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateDepense">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>date depense</th>
      <td mat-cell *matCellDef="let row">{{row.dateDepense}}</td>
    </ng-container>

    <ng-container matColumnDef="somme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>somme</th>
      <td mat-cell *matCellDef="let row">{{row.somme}}</td>
    </ng-container>

    <ng-container matColumnDef="depense">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
      <td mat-cell *matCellDef="let row">{{row.depense}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [mat-menu-trigger-for]="menu" aria-label="options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
            (click)="onClickOnPlus(row)">
            <span>voir</span>
          </button>
          <button mat-menu-item
            (click)="onClickOnModifier(row)">
            <span>modifier</span>
          </button>
          <button mat-menu-item
            (click)="onClickOnSupprimer(row)">
            <span>supprimer</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
